<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>

    <!-- Link jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Link Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Link Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Link JavaScript file -->
    <!-- <script src="../assets/js/survey.js"></script> -->

    <!-- Link CSS file -->


</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="row">
            <div class="col s6 offset-s3">
                <h1>Survey</h1>
            </div>
        </div>

        <!-- question -->
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="row">
                    <div class="col s12">
                        <div id="question"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div id="answers"></div>
                    </div>
                    <div class="col s6">
                        <div id="image">image</div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End container div -->
</body>
<script>
    $(document).ready(function () {
        // define variables
        var survey = [
            {
                question: "What type of effect are you looking for?",
                answers: ["Energetic", "Invigorating", "Euphoric", "Calming", "Heady", "Sedating"],
                image: ""
            },
            {
                question: "What type of wine do you prefer?",
                answers: ["Sparkling", "White", "Rosé", "Red", "Dessert"],
                image: "",
            },
            {
                question: "sweetness",
                answers: ["Dry", "Semi-dry", "Semi-sweet", "Sweet", "Very Sweet"],
                image: "",
            },
            {
                question: "acidity",
                answers: ["Low acidic", "Semi-acidic", "Acidic"],
                image: "",
            },
            {
                question: "body",
                answers: ["Light", "Medium", "Full"],
                image: "",
            },
            {
                question: "Which flavor do you prefer?",
                answers: ["Citrusy", "Fruity", "Earthy", "Spicy", "Coffee", "Vanilla", "Herbal"],
                image: ""
            }
        ];

        var count = 0;              // index of survey question
        var userInput;              // user input
        var userInputArr = [];      // array of user inputs

        // display survey questions
        function displaySurvey() {
            // display question
            $("#question").html(survey[count].question);

            // display answers
            for (var i = 0; i < survey[count].answers.length; i++) {
                var p = $("<p>");
                var button = $("<button>");
                button.addClass("answerOption");
                button.text(survey[count].answers[i]);
                button.attr("data-value", survey[count].answers[i]);
                p.append(button);
                $("#answers").append(p);
            }

            // answer button on click event
            $(".answerOption").on("click", function () {
                var userInput = $(this).attr("data-value");
                console.log(userInput);

                // push to array
                userInputArr.push(userInput);
                console.log(userInputArr);

                // check if end of survey
                if (count === survey.length - 1) {
                    console.log("End of survey");
                    event.preventDefault();
                    var surveyResults = {
                        results: userInputArr
                    };
                    // send AJAX post
                    $.post("/api/survey", surveyResults)
                        .then(function (data) {
                            // get results
                            console.log(data) ;
                        });
                }
                else {
                    count++;

                    // clear questions/answers/image
                    $("#question").empty();
                    $("#answers").empty();
                    $("#image").empty();

                    // display next survey question
                    displaySurvey();
                }
            });
        }

        displaySurvey();
    });
</script>

</html>